@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');



*{
   
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 100%;
    
}

#sumir {
    display: none;
  }
  
  
table {
    text-align: center;
}  

.card-body input {
    margin-top: 14px;
}

.card-body a {
    margin-top: 14px;
}

#card_pesquisa button {
    margin-top: 11px;
}